.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

.CheckoutSummary .Button:first-of-type {
    margin-left: 10px;
    padding-left: 10px;
}

/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */